$color-principal: #0A0B0E;
$color-secundario: #FFFFFF;
$color-tersiario: #A0A5AB;
$color-cuarto: #778DA9;

$colores-contacto: #2A7F62,#C3ACCE,#DFD9E2;
$lista-fon-size: 10px,15px,20px,25px,30px,40px;
/*mixin*/
@mixin flex($flex,$direction,$justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

%flexbox {display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;

}

    

