
.footer-padre {@include flex (flex,row,space-evenly, center);
   .cajas-footer {
        @include flex(flex, column, center, center);
        width: 40%;
        height: 40%;
        padding: 30px;
        margin: 10px;
        border: 2px solid $color-secundario;
        font-size: nth($colores-contacto, 3);
        border-radius: 10vh;
        text-align: center;
        align-items: center;
        color: $color-tersiario;
        img{
            height: 15vh;
            width: 15vw;
        }
  }
  
}