    /*index*/
    .contenedor-entrega {
        @include flex (flex, column, center, center);
        background-color: $color-secundario;
        width: 100vw;
        height: 100vh;
        color: $color-principal
    }

    .lista-ventajas {
        @include flex(flex, row, center, center);
    
    .ventaja {
        background-color: $color-secundario;
        color: $color-principal;
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        h4 {
            color: $color-principal;
            font-size: nth($lista-fon-size,7);
        }

        h5 {
            color: $color-principal;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: underline;
            font-size: nth($lista-fon-size,3);
        }

    }
    }
    .ventaja:hover {
        transform: scale(1.1)
    }

    /* Destino*/
    .w-100 {
        width: 80vw;
        height: 20vh;
        margin-top: 20px;
        object-fit: contain;
    }

    .carousel.slide {
        margin-left: 15px;
        margin-right: 15px
    }

    /*mixin .zona*/
    .zona {
        @include flex(flex, row, space-around, center);
        color: $color-principal;
        background-image: url("../imag/textura-gris.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 21px;
        margin-left: 21px;
        margin-right: 21px;

        img {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
            border: ridge $color-principal 8px;
        }
    }

    .solicitud {
        text-align: center;
        margin-top: 5px;
    }

    form {
        div {
            @include flex(flex, column, center, flex-start);
            padding: 50px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            font-size: nth($lista-fon-size,3);
            background-image: url(../imag/delivery.jpg);
            padding: 20px;
        }

        label {
            width: 200px;
            background-color: $color-principal;
            color: $color-secundario;
            padding: 4px;
        }

        input {
            width: 200px;
            padding: 2px;
        }

        select {
            width: 200px;
            padding: 2px;
        }

        textarea {
            width: 200px;
            padding: 2px;
        }

        form button {
            background-color: $color-principal;
            color: $color-secundario;
            width: 200px;
            padding: 2px
        }

        section ul li {
            background-color: $color-secundario;
            color: $color-principal;
            font-family: system-ui, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            font-size: nth($lista-fon-size,6);
        }
    }

    /*Quienes-somos*/
    .contenedor-video {
        @include flex(flex, row, space-between, center);

        .texto {
            text-align: left;

            p {
                margin-left: 10px;
                font-size: nth($lista-fon-size,5);
            }

            ol li {
                margin-left: 10px;
                line-height: 50px;
                font-size: nth($lista-fon-size,4);
            }

        }

        video {
            width: 400px;
            height: 300px;
        }
    }

    .main-contacto {
        margin-right: 20px;
        margin-left: 20px;

        .whatsapp {
            @extend %flexbox;
            background-color: nth($colores-contacto, 1);
            img {
                width: 5vw;
                height: 5vh;
            }
        }

        .instagram {
            @extend %flexbox;
            background-color: nth($colores-contacto, 2);

            img {
                width: 8vw;
                height: 8vh;
            }
        }

        .facebook {
            @extend %flexbox;
            background-color: nth($colores-contacto, 3);
            img {
                width: 5vw;
                height: 5vh;
            }
        }
    }

    aside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    /*piso el padding de bootstrap del nav*/
    ol,
    ul {
        padding-left: 0px;
        padding-left: 21px;
        padding-right: 21px;
        padding-top: 10px
    }

